<body>
    <p id="notice"></p>

<p>
  <strong>Title:</strong>
  <td><%= @book.title %></td>
</p>

<p>
  <strong>Body:</strong>
  <td><%= @book.body %></td>
</p>

<a class="edit" href="edit_book">Edit</a> |
<a class="back" href="/books">Back</a>

</body>
